@using Montaniarzii.BusinessLogic.Implementation.SuggestionAttractions.Models
@model SuggestionAttractionAllDetailsModel
@{
    ViewData["Title"] = "GetSuggestionAttractionById";
}

<div>
    <div>@Model.AttractionName</div>
    <div>@Model.Description</div>
</div>
